footer {
    padding-top: 3rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("assets/a_img/jaebal2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;}


  .carousel-control-prev-icon {
    background-color: gray;
  }


  .carousel-control-next-icon {
    background-color: gray;
  }

  @media (min-width: 768px) {
    #gaza {
      margin-left: 13%;
    }
  }

.custom-tooltip .tooltip-inner {
  background-color: #ffc800;
  color: white;
}


